@font-face {
    font-family: bully;
    src: url(../bully/Serifa.ttf);
}
html{
    background-color: rgb(18, 1, 17);
}
body{
    margin: 0%;

    margin-top: 0%;
}
.texto2{
    display: flex;
}
.texto2 p{
    color: rgb(255, 255, 255);
    margin: 8%;
    width: 83%;
    padding-left: 2px;
    font-family: bully;
    height: 100%;
    font-size: xx-large;
}
.video{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.texto p{
    color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    padding-left: 10px;
    font-family: bully;
    height: 100%;
    font-size: x-large; 
    display: flex;
    justify-content:center;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
.junt{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.junt img{
    display: flex;
    width: 700px;
}
.junt img:hover{
    transform: scale(1.1);
    z-index: 10;
} 
.junt .ia{
    border: 5px solid rgb(200, 13, 194);
    width: 700px;
}

.junt .ib{
    border: 5px solid rgb(200, 13, 194);
    width: 700px;
}
.junt .ie{
    border: 5px solid rgb(200, 13, 194);
    width: 700px;
}
.junt .iu{
    border: 5px solid rgb(200, 13, 194);
    width: 700px;
}


.junt div{
    display: flex;
    flex-direction: column;
}
.titulo{
    color: rgb(255, 255, 255);
    display:flex;
    width: 40%
}
.cabecario{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecario .til{
    width: 215px;
}
.menu{
    display: flex;
    
}
.menu li a{
    color: white;
    margin: 20px
}