@font-face {
    font-family: bully;
    src: url(../bully/Serifa.ttf);
}
html{
    background-color: rgb(1, 12, 5);
}
body{
    margin: 0%;

    margin-top: 0%;
}
.texto1{
    display: flex;
    padding-bottom: 20px;
}
.texto1 p{
    color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    padding-left: 10px;
    font-family: bully;
    height: 100%;
    font-size: xx-large;
}
.texto1 img{
    border: 5px solid white;
}
.texto2{
    display: flex;
    padding-bottom: 20px;
}
.texto2 p{
    color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    padding-left: 10px;
    font-family: bully;
    height: 100%;
    font-size: xx-large;
}
.texto2 img{
    border: 5px solid rgb(45, 118, 236);
}
.texto3{
    display: flex;
    padding-bottom: 20px;
}
.texto3 p{
    color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    padding-left: 10px;
    font-family: bully;
    height: 100%;
    font-size: xx-large;
}
.texto3 img{
    border: 5px solid rgb(0, 0, 0);
}
.texto4{
    display: flex;
    padding-bottom: 20px;
}
.texto4 p{
    color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    padding-left: 10px;
    font-family: bully;
    height: 100%;
    font-size: xx-large;
}
.texto4 img{
    border: 5px solid rgb(37, 172, 10);
}
.texto5{
    display: flex;
    padding-bottom: 20px;
}
.texto5 p{
    color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    padding-left: 10px;
    font-family: bully;
    height: 100%;
    font-size: xx-large;
}
.texto5 img{
    border: 5px solid rgb(10, 20, 153);
}
.texto6{
    display: flex;
}
.texto6 p{
    color: rgb(255, 255, 255);
    margin: 0%;
    width: 100%;
    padding-left: 10px;
    font-family: bully;
    height: 100%;
    font-size: xx-large;
}
.texto6 img{
    border: 5px solid rgb(214, 108, 28);
}
.titulo{
    color: rgb(255, 255, 255);
    display:flex;
    width: 40%
}
.cabecario{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecario .til{
    width: 215px;
}
.menu{
    display: flex;
    
}
.menu li a{
    color: white;
    margin: 20px
}