@font-face {
    font-family: bully;
    src: url(../bully/Serifa.ttf);
}
html{
    background-color: rgba(15, 0, 0);
}
body{
    margin: 0%;

    margin-top: 0%;
}
.texto2{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.texto2 p{
    color: rgb(255, 255, 255);
    margin: 2%;
    width: 100%;
    padding-left: 6px;
    font-family: bully;
    height: 100%;
    font-size: x-large;
    border: 5px solid rgb(154, 24, 17);
}
a{
    text-decoration: none;
}
.titulo{
    color: rgb(255, 255, 255);
    display:flex;
    width: 40%
}
.cabecario{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecario .til{
    width: 215px;
}
.menu{
    display: flex;
    
}
.menu li a{
    color: white;
    margin: 20px
}
.fts{
    margin-bottom: 50px;
}
.junt{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.junt img{
    display: flex;
    width: 530px;   
    
}
.junt img:hover{
    transform: scale(1.1);
    z-index: 10;
    

} 
.junt .ia{
    border: 5px solid rgb(154, 24, 17);
}

.junt .ib{
    border: 5px solid rgb(154, 24, 17);
}
.junt .ie{
    border: 5px solid rgb(154, 24, 17);
}
.junt .iu{
    border: 5px solid rgb(154, 24, 17);
}
.junt .io{
    border: 5px solid rgb(154, 24, 17);
}
.junt .iz{
    border: 5px solid rgb(154, 24, 17);
}

.junt div{
    display: flex;
    flex-direction: column;
}
.comple img{
    align-items: center;
}
