@font-face {
    font-family: bully;
    src: url(../bully/Serifa.ttf);
}
html{
    background-color: rgb(3, 21, 59);
    text-decoration: none;
}
body{
    margin: 0%;

    margin-top: 0%;
}
a{
    text-decoration: none;
}
.titulo{
    color: rgb(255, 255, 255);
    display:flex;
    width: 40%
}
.cabecario{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecario .til{
    width: 215px;
}
.menu{
    display: flex;
    
}
.menu li a{
    color: white;
    margin: 20px
}
